/ConcreteStrategyIngName.class
/ConcreteStrategyPrice.class
/Consoleui$input.class
/Consoleui.class
/IngList.class
/Ingredient.class
/Load.class
/Program.class
/Recipe.class
/Recipelist.class
/Save.class
/Strategy.class
/User.class
/abstractList.class
/context.class
/Reciperecplist.class
